.about-page
  background-color rgba(239, 234, 233, 0.5)
  :after
    @extend .moon-bg

  .quarter-column
    text-align center
    margin-bottom 50px
    height 225px
  .white-bg
    padding 50px 20px 20px 20px
    height 550px
    img
      border-radius 50%
      margin-bottom 10px
  .content-block
    .content-container
      .team.content
        h1
          margin-top 50px
