.classifier
  .subject
    //background: MEDIUM_GRAY
    border-radius: 5px
    cursor: crosshair
    position: relative
    text-align: center

  .flicker
    margin-left: auto
    margin-right: auto
    width: 512px

  .four-up
    background: black
    margin-left: auto
    margin-right: auto;
    width: 1028px
    height: 1028px

  .marking-surface
    display: inline-block
    float: left
    margin-left: auto
    margin-right: auto
    padding: 1px 1px
    height: 512px
    width: 512px
    max-height: 100%
    max-width: 100%
 
  .marking-tool-root
    opacity: 1
  
  [class^="from-frame"]
    fill: red
    opacity: 0.4
  
  &[data-on-frame="0"]
    .from-frame-0
      opacity: 1

  &[data-on-frame="1"]
    .from-frame-1
      opacity: 1

  &[data-on-frame="2"]
    .from-frame-2
      opacity: 1

  &[data-on-frame="3"]
    .from-frame-3
      opacity: 1

  .tag-marker
    fill: rgba(#fff, 0.8)

    &:hover
      fill: #fff

  .tag-label
    fill: #666
    font-family: inherit
    font-size: inherit
    pointer-events: none
