.classifier
  background-color #d5d5d5
  padding 30px 0
  outline none

  #classify-box
    width 820px
    height 608px
    background #ffffff
    margin 0 auto
    box-shadow 0px 5px 6px 5px #c0c0c0

  .subject
    background-color OFF_WHITE
    padding 20px
    width 512px
    float left
    position relative
    display inline-block
    position: relative
    z-index 1

  .flicker
    width: 512px
    float left

  .current-frame
    display inline-block
    &[disabled='disabled']
      pointer-events none
      opacity 0.5

  .channel-cycler
    top 20px
    position absolute
    z-index 1000
    width 512px
    height 512px

  .surfaces-container
    cursor: url("./images/ah-marking-cursor.png") 17 18, url("./images/cursor-crosshair.png") 15 15, auto
    background: black
    height 512px
    max-height 512px
    overflow hidden
    margin-left: auto
    margin-right: auto;

  .summary-container
    height 512px
    background-color OFF_WHITE
    text-align center
    padding 0 20px
    color #818181
    h2
      font-size 14px
      color #4a4a4a
    h3
      font-size 14px
      font-weight 300
      margin-bottom 15px
    .your-results
      border 2px solid #818181
      border-radius 5px
      #results-title
        margin-top -14px
        width 115px
        background-color OFF_WHITE
        margin-left auto
        margin-right auto
      .summary-data
        width columns(5)
        display inline-block
        margin 10px 0 25px 0
        .big-num
          font-size 48px
          line-height 75px
          font-weight bold
    .summary-image-container
      height 250px
      .marking-surface
        margin-left auto
        margin-right auto
        height 190px
        width 190px
        border 10px solid #fff
        float none
        box-shadow 0px 2px 6px 2px #c0c0c0
        .marking-tool-root, .ghost-mark
          // display none
  .marking-surface
    display: inline-block
    outline none
    float: left
    height: 512px
    width: 512px
    .marking-surface-tool-controls-container, .marking-tool-controls
      display none

  .left-panel
    width 70px
    height 552px
    float left
    text-align center
    h2
      font-size 12px
      font-weight bold
      color #8d8a8a
      padding 18px 0 5px 0
      margin 0
      border-top 1px solid #d5d5d5
    button
      color #8d8a8a
      font-size 12px
      margin-bottom 10px
      &[name='reset']:hover
        svg
          g
            fill #E17F7F
      &:disabled
        svg
          path, circle
            fill BRIGHT_AQUA
    .colorme
      svg
        path, circle
          fill BRIGHT_AQUA
    svg
      display block
      margin 10px auto 8px auto
    #tools
      h2
        border 0
    #view
      display: 'list-item'

  .right-panel
    width 178px
    height 532px
    padding 10px
    float left
    color #8d8a8a
    display table
    svg
      width 20px
      height 20px
      margin 0 10px
      display inline-block
      vertical-align middle
    h3
      font-size 14px
      line-height 20px
      font-weight bold
      color #4a4a4a
      margin 5px 0 10px 0
    button
      border none
      font-size 14px
      height 40px
      line-height 20px
      font-weight bold
      width 100%
      margin 10px 0 0 0
      color #fff
      transition opacity .3s ease
      &:disabled
        transition opacity 0s ease
        opacity 0.5
        pointer-events none
      &[name='next-frame']
        background-color #4fad76
      &[name='cancel']
        border 2px solid #e6e6e6
        color #787878
        font-weight normal
      &[name='asteroid-delete']
        background-color #E17F7F
      &[name='asteroid-done']
        margin-top 25px
        background-color #38b3c5

    .asteroid-classifier
      input
        display none  // remove to view raw checkboxes
      .asteroid-frame
        color: MAIN_AQUA
        font-size 14px
        height 35px
        line-height 35px

      .asteroid-visible
        display: inline
        visibility: hidden
        text-decoration underline
        cursor pointer

      .current-asteroid-frame
        svg
          transform scale(1.2)
          g
            fill MAIN_AQUA
        color: MAIN_AQUA
        .asteroid-visible
          visibility: visible

    .classifier-type-menu-item
      font-size 14px
      height 35px
      line-height 35px
      label
        margin auto 0
        cursor pointer
      input
        &[name='classifier-type']
          display none
          &:checked
            & ~ *
              color BRIGHT_AQUA
              g
                fill BRIGHT_AQUA

    .artifact-classifier
      font-size 14px
      line-height 35px
      label
        margin auto 0
        cursor pointer
      input
        display none
        &[name='selected-artifact']
          &:checked
            & ~ *
              color BRIGHT_AQUA
              g
                fill BRIGHT_AQUA
    .right-panel-summary
      display table-cell
      vertical-align middle
    .known-asteroid-message
      margin-bottom 10px
    #notification
      margin-top 10px
      color #FF4500

  .bottom-row
    position relative
    float left
    width: 820px
    button
      font-size 14px
      font-weight bold
      border-radius 5px
      color #fff
      height 40px
      line-height 40px
      &:disabled
        opacity: 0.5
        pointer-events none
    #play
      background-color #181818
      width 622px
      height 56px
      line-height 56px
      color #fff
      float left
      button
        background-color #343434
        width 130px
        svg
          vertical-align middle
          margin-right 20px
        #pause-content
          display none

        &[name='cycle-channels']
          background-color transparent
          width 40px
          margin 0 10px 0 15px
          svg
            margin 0 auto

    #finished
      float left
      width 198px
      line-height 56px
      height 56px
      background-color MAIN_AQUA
      button
        background-color #38b3c5
        margin-left 10px
        width 178px

  .button
    display: block
    text-align: center
    vertical-align: middle
    white-space: nowrap
    button
      @extends #_STANDARD_BUTTON

  .marking-tool-root
    opacity: 1
    pointer-events none

  [class^="from-frame"]
    fill: red
    opacity: 0.4

  &[flicker="true"]
    .marking-surface
      width 512px
      height 512px
    &[data-on-frame="0"]
      .from-frame-0
        opacity: 1

    &[data-on-frame="1"]
      .from-frame-1
        opacity: 1

    &[data-on-frame="2"]
      .from-frame-2
        opacity: 1

    &[data-on-frame="3"]
      .from-frame-3
        opacity: 1

  &[flicker="false"]
    .marking-surface
      width 255px
      height 255px
      &:nth-child(odd)
        margin-right 2px
      &:nth-child(-n+2)
        margin-bottom 2px

    #classifier-svg-root-0
      .from-frame-0
        opacity: 1

    #classifier-svg-root-1
      .from-frame-1
        opacity: 1

    #classifier-svg-root-2
      .from-frame-2
        opacity: 1

    #classifier-svg-root-3
      .from-frame-3
        opacity: 1

  .tag-marker
    fill: rgba(#fff, 0.8)

    &:hover
      fill: #fff

  .tag-label
    fill: #666
    font-family: inherit
    font-size: inherit
    pointer-events: none
