.classifier
  background-color #d5d5d5
  padding 30px 0

  #classify-box
    width 820px
    height 608px
    background #ffffff
    margin 0 auto
    -moz-box-shadow:    0px 5px 6px 5px #c0c0c0;
    -webkit-box-shadow: 0px 5px 6px 5px #c0c0c0;
    box-shadow:         0px 5px 6px 5px #c0c0c0;

  .subject
    background-color #efeae9
    padding 20px
    width 512px
    float left
    position relative
    display inline-block
    cursor: crosshair
    position: relative
    z-index 1

  .flicker
    width: 512px
    float left

  .current-frame
    display inline-block

  .four-up
    background: black
    margin-left: auto
    margin-right: auto;

  .marking-surface
    display: inline-block
    outline none
    float: left
    height: 512px
    width: 512px
    padding: 1px 1px
    max-height: 100%
    max-width: 100%
    background-color #000

  .left-panel
    width 70px
    height 552px
    float left
    text-align center
    h2
      font-size 14px
      color #8b8b8b
      margin 20px 0
    hr
      border 1px solid #d5d5d5
    button
      color #939393
      font-size 14px
      &:disabled
        svg
          path, circle
            fill #29afcd
    .colorme
      svg
        path, circle
          fill #29afcd

    svg
      display block
      margin 10px auto

  .right-panel
    width 178px
    height 532px
    padding 10px
    float left
    h2
      font-size 14px
      color #8b8b8b
    button
      border none
      height 40px
      width 100%
      margin 10px 0
      &[name='next-frame']
        color #fff
        background-color #4fad76
      &[name='cancel']
        border 2px solid #e6e6e6
        color #868686
      &[name='asteroid-done']
        width 30%

    .asteroid-classifier
      svg
        width 18px
        height 18px
      .asteroid-frame
        color: #BBBBBB

      .asteroid-frame-complete
        color: MAIN_AQUA

      .asteroid-visible
        display: inline
        visibility: hidden

      .current-asteroid-frame
        svg
          g
            fill MAIN_AQUA
        color: MAIN_AQUA
        border: 3px solid MAIN_AQUA
        border-radius: 10px
        .asteroid-visible
          visibility: visible

    .classifier-type-menu-item
      height 40px
      vertical-align middle
      svg
        display inline-block
        vertical-align middle
        margin auto 0
      label
        color #7b7b7b
        cursor pointer
      input
        &[name='classifier-type']
          display none
          &:checked
            & + svg
              g
                fill #29afcd

    .artifact-classifier
      input
        display none
        &[name='selected-artifact']
          &:checked
            & + svg
              g
                fill #29afcd

  .bottom-row
    position relative
    float left
    width: 820px

    #play
      background-color #181818
      width 622px
      height 56px
      line-height 56px
      color #fff
      float left
      button
        margin-left 90px
        background-color #343434
        border-radius 5px
        color white
        width 130px
        line-height 40px
        vertical-align middles
        height 40px
        svg
          vertical-align middle
          margin-right 20px

    #finished
      float left
      width 198px
      line-height 56px
      height 56px
      background-color MAIN_AQUA
      button
        background-color #38b3c5
        color #fff
        border-radius 5px
        height 40px
        line-height 40px
        margin-left 10px
        width 178px
        &:disabled
          opacity 0.5

  .button
    display: block
    text-align: center
    vertical-align: middle
    white-space: nowrap
    button
      @extends #_STANDARD_BUTTON

  .marking-tool-root
    opacity: 1

  [class^="from-frame"]
    fill: red
    opacity: 0.4

  &[flicker="true"]
    &[data-on-frame="0"]
      .from-frame-0
        opacity: 1

    &[data-on-frame="1"]
      .from-frame-1
        opacity: 1

    &[data-on-frame="2"]
      .from-frame-2
        opacity: 1

    &[data-on-frame="3"]
      .from-frame-3
        opacity: 1

  &[flicker="false"]
    #classifier-svg-root-0
      .from-frame-0
        opacity: 1

    #classifier-svg-root-1
      .from-frame-1
        opacity: 1

    #classifier-svg-root-2
      .from-frame-2
        opacity: 1

    #classifier-svg-root-3
      .from-frame-3
        opacity: 1

  .tag-marker
    fill: rgba(#fff, 0.8)

    &:hover
      fill: #fff

  .tag-label
    fill: #666
    font-family: inherit
    font-size: inherit
    pointer-events: none
