.education-page
  background-color rgba(239, 234, 233, 0.5)
  :after
    @extend .moon-bg
  .content-block
    .content-container
      a:hover
        opacity 1
    .content-container.white-bg
      padding-bottom 50px
      .content
        padding 20px
        h2
          margin-bottom 20px
