.footer-container
  line-height 1.5em
  background #181818
  padding 1px 0

  .zooniverse-footer
    width 400px
    color #2d7e86
    margin 50px auto

    .heading
      font-size 16px
      margin-bottom 40px

    .category-title
      font-weight bold
      font-size 12px

    .project
      font-size 12px