.profile
  background-color OFF_WHITE
  .content-block
    .content-container.white-bg
      .content
        padding 20px
        .full-column
          h2
            display inline-block
          button
            float right
            color #2fa0b7
            padding 0 5px
        .quarter-column
          img
            border 5px solid #fff
            box-shadow 0px 2px 5px 2px #c0c0c0