.science-page
  background-color #efeae9
  .content-block
    max-width 960px
    margin 0 auto
    padding 0
    .content-container
      h1, h2, h3
        text-transform uppercase
      .content
        padding 5px 20px
      .left
        padding-right 10px
      .right
        padding-left 10px
      .intro
        h1
          color #090909
          font-size 16px
          margin 70px 0 20px 0
        p
          color #8d8a8a
          font-size 30px
          margin-bottom 50px
      .half-column
        width 50%
        float left
        img
          width 100%
        h2
          font-size 24px
          margin-top 100px
          font-weight 300
        h3
          font-weight bold
          padding 30px 20px 10px 20px
      .full-column
        width columns(16)
        padding 50px 20px 5px 20px
  .black-bg
    background-color #000
    color #efeae9
  .white-bg
    background-color #fff
    color #8D8A8A
    padding-bottom 100px

