.site-navigation
  background-color black
  background-size: cover
  color: #fff
  font-weight: 300
  overflow: hidden
  position: relative

  .content-container
    width SITE_WIDTH
    margin-top: 50px
    line-height: 45px
    text-align: right

  .logo
    float: left
    font-size: 20px
    letter-spacing: 2px
    text-transform: uppercase

  .links
    a
      display: inline-block
      padding: 0 10px
      position: relative

      &:after
        background: transparent
        content: ""
        height: 4px
        left: 0
        margin-top: -4px
        position: absolute
        top: 67%
        width: 100%
        // transition:
        //   background 1.4s ease-in-out 0.125s,
        //   top 0.25s ease-in-out 0.125s

      &:hover:after
        height 4px
        background: #212121
        top: 100%

      &.active:after
        background: #1fa1a9
        top: 100%
        transition: .2s

.zooniverse-top-bar
  background: transparent
  font-weight: 300
  margin-top: 15px
  margin-right: unit((100 - SITE_WIDTH) / 2, '%')

  .corner
    display: none

  .current-user-name
    font-weight: inherit

  .avatar img
    border-radius: 50%
