.profile
  background-color OFF_WHITE
  .zooniverse-profile
    background-color #fff
    .zooniverse-paginator
      .items
        margin 0 auto
        .item
          padding 0px
            a
              box-shadow 0px 2px 5px 2px #c0c0c0
    .sign-in-form
      margin-top 50px
      .action
        button
          background-color MAIN_AQUA
          color #fff
          font-weight 300
    nav
      padding 10px
      button
        box-shadow none
        text-shadow none
        span
          pointer-events none

