.zootorial-dialog
  background-color #000
  color #FFF
  border none
  padding 10px
  .dialog-content
    button
      @extends #_STANDARD_BUTTON
      margin-top 10px
      border none
      background-color BRIGHT_AQUA